Import Depencies

In [1]:
from bs4 import BeautifulSoup
import requests
import os
import pandas as pd
import numpy as np
# import gmaps

# # Import API key
# from api_keys import geoapify_key
# from api_keys import gmaps_key

# gmaps.configure(api_key={gmaps_key})

Set header to circumvent webscraping blocker

In [2]:
headers = {
    "User-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Safari/537.36"}

Create lists to store **responses**

In [3]:
# data to scrape
job_title = []
company_name = []
short_description = []
job_location = []
job_classification = []
job_subclassification = []
job_site = []

job_counter = 0

In [4]:
headers = {
     "User-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Safari/537.36"
}

Scrape the website

In [5]:
# url = 'https://www.seek.com.au/jobs-in-construction/in-All-Perth-WA'
# response = requests.get(url)
# soup = BeautifulSoup(response.content, features='html.parser')
# jobs_on_page = soup('article')

Create list of scraping variables (job fields, pages[4])

In [6]:
job_field = ['construction', 'engineering', 'healthcare-medical', 'sales', 'jobs-in-community-services-development']
page_scrapes = ['', '?page=2', '?page=3','?page=4','?page=5']

Scrape data

In [7]:
for x in job_field:

    for page in page_scrapes:

        url = 'https://www.seek.com.au/jobs-in-' + x + '/in-All-Perth-WA' + page
        response = requests.get(url, headers=headers)
        soup = BeautifulSoup(response.content, features='html.parser')
        jobs_on_page = soup('article')
            
        for i in range(len(jobs_on_page)):

            job_counter += 1 
            
            job_title.append(soup('article')[i]['aria-label'])
            job_site.append("Seek.com.au")
            short_description.append(soup('article')[i].find('span', {'data-automation':'jobShortDescription'}).text)
            job_location.append(soup('article')[i].find('a', {'data-automation':'jobLocation'}).text)
            job_subclassification.append(soup('article')[i].find('a', {'data-automation':'jobSubClassification'}).text)
            job_classification.append(soup('article')[i].find('a', {'data-automation':'jobClassification'}).text)
            
            print('Jobs scraped: %d' % job_counter, end='\r')
            
            try:
                company_name.append(soup('article')[i].find('a', {'data-automation':'jobCompany'}).text)
            except:
                company_name.append(np.nan)

-------



# end of scrape

In [8]:
print(len(company_name))
print(len(job_title))
print(len(short_description))

489
489
489

In [9]:
seek_data = {'job_title': job_title,
            'company_name': company_name,
            'short_description': short_description,
            'job_location': job_location,
            'job_classification': job_classification,
            'job_subclassification': job_subclassification,
            'job_site' : job_site
             }

In [10]:
seek_data_df = pd.DataFrame(seek_data)
seek_data_df.reset_index(inplace=True)
seek_data_df.rename(columns= {'index':'job_id'}, inplace=True)
seek_data_df.tail(150)

,job_id,job_title,company_name,short_description,job_location,job_classification,job_subclassification,job_site
339,339,Sales Executive for Retail,Bremworth Limited,Passionate for brand presence and building you...,Perth WA,Sales,Sales Representatives/Consultants,Seek.com.au
340,340,"Territory Manager, PMRI",Medtronic,This is an exciting and new opportunity to wor...,Perth WA,Sales,Sales Representatives/Consultants,Seek.com.au
341,341,Account Manager,Groundbreaking Mining Solutions,Please email [emailÂ protected] for further inf...,Perth WA,Sales,Account & Relationship Management,Seek.com.au
342,342,Technical Sales Representative,NaN,A great opportunity for someone that has stron...,Perth WA,Sales,Sales Representatives/Consultants,Seek.com.au
343,343,Sales Representative,GO Organics,Are you a sales leader looking for your next c...,Wangara,Sales,Sales Representatives/Consultants,Seek.com.au
...,...,...,...,...,...,...,...,...
484,484,Resident Wellbeing Assistant (Aged Care),Singleton Community Aged Care,Signature Care presents an exciting opportunit...,Singleton,Community Services & Development,Aged & Disability Support,Seek.com.au
485,485,Traineeship - Individual Support Person,Programmed Skilled Workforce,Traineeship- CHC33015 Cert III in Individual S...,Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
486,486,Council Services Manager (Operational Manager),West Arnhem Regional Council,"Live and work in the amazing West Arnhem Land,...",Perth WA,Community Services & Development,Management,Seek.com.au
487,487,Claims Officer - Employment Services,Training Alliance Group,Review and process Employment Services claims ...,West Perth,Community Services & Development,Employment Services,Seek.com.au
488,488,Business Manager - Earlville,Advanced Personnel Management,Looking for a move? We are looking in Cairns! ...,Perth WA,Community Services & Development,Employment Services,Seek.com.au

---

## Create dataframes for tables

---

In [11]:
# Create job_id dataframe

job_id_df = seek_data_df[['job_id', 'job_classification', 'job_location']].copy()

# rename columns to match schema
job_id_df.rename(columns= {'job_classification':'job_field'}, inplace=True)


job_id_df

     job_id                         job_field                  job_location
0         0                      Construction                  Canning Vale
1         1                      Construction                       Belmont
2         2                      Construction                      Perth WA
3         3                      Construction                      Perth WA
4         4                      Construction  Northern Suburbs & Joondalup
..      ...                               ...                           ...
484     484  Community Services & Development                     Singleton
485     485  Community Services & Development                      Perth WA
486     486  Community Services & Development                      Perth WA
487     487  Community Services & Development                    West Perth
488     488  Community Services & Development                      Perth WA

[489 rows x 3 columns]

### Count words to plot - All Employment Fields

In [12]:
# Word Cloud Data

full_count = (seek_data_df['short_description'].str.split(expand=True)
              .stack())
full_count_df = pd.DataFrame(full_count)
full_count_df = full_count_df[full_count_df[0].str.len() > 4]
full_count_df

                    0
0   1       Australia
    4     experienced
    5           Civil
    6         Project
    7         Manager
...               ...
488 13         skills
    17          drive
    21         change
    23          lives
    26  participants.

[4566 rows x 1 columns]

In [13]:
# count, tally and describe words in short_description

seek_count = (seek_data_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

In [14]:
seek_count = seek_count[seek_count['word'].str.len() > 4]
seek_count

             word  count
12    opportunity     76
17        looking     59
22    experienced     48
23        Project     45
25        Manager     41
...           ...    ...
2363      Premium      1
2364     success.      1
2365  experience.      1
2366      trainer      1
2367       Annual      1

[1939 rows x 2 columns]

In [15]:
seek_count.head(45)

             word  count
12    opportunity     76
17        looking     59
22    experienced     48
23        Project     45
25        Manager     41
28       Engineer     37
29        seeking     37
30          Perth     37
31       exciting     36
32          sales     35
34       projects     29
36          based     26
37          their     26
39        Medical     24
41         within     23
43   construction     21
45         career     21
47     experience     21
48        project     20
49          Sales     20
52          team.     19
55      motivated     17
58  opportunities     17
60         people     16
61         skills     16
62        Support     16
64    Opportunity     15
67        company     15
70       customer     15
71        Western     15
74        working     14
75        support     14
76         across     14
77        leading     14
78          great     14
79      currently     13
84      available     13
87     management     12
88       building     12
89        Seeking     12
90     Supervisor     12
91   Construction     12
92         Perth.     12
93          role.     12
95        dynamic     11

### Count words to plot - Individual fields (Construction, Engineering, Healthcare, Sales, Community Services)

In [16]:
# Create DF for each job field

construction_df = seek_data_df[seek_data_df['job_classification']=='Construction']
engineering_df = seek_data_df[seek_data_df['job_classification']=='Engineering']
healthcare_medical_df = seek_data_df[seek_data_df['job_classification']=='Healthcare & Medical']
sales_df = seek_data_df[seek_data_df['job_classification']=='Sales']
jobs_in_community_services_development_df = seek_data_df[seek_data_df['job_classification']=='Community Services & Development']

In [17]:
# create word count DF for each job field
# word cloud
# count, tally and describe words in short_description


# construction

construction_count = (construction_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

# engineering

engineering_count = (engineering_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

# healthcare

healthcare_medical_count = (healthcare_medical_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

# sales

sales_count = (sales_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

# community service
jobs_in_community_services_development_count = (jobs_in_community_services_development_df['short_description'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word')
              .reset_index(name='count'))

In [18]:
# word cloud


# construction

construction_set = construction_df.stack().str.split("[^\w+]").explode().tolist()
construction_count_df = pd.DataFrame(construction_set)
construction_count_df = construction_count_df[construction_count_df[0].str.len() > 4]


# engineering

engineering_set = engineering_df.stack().str.split("[^\w+]").explode().tolist()
engineering_count_df = pd.DataFrame(engineering_set)
engineering_count_df = engineering_count_df[engineering_count_df[0].str.len() > 4]

# healthcare

healthcare_set = healthcare_medical_df.stack().str.split("[^\w+]").explode().tolist()
healthcare_count_df = pd.DataFrame(healthcare_set)
healthcare_count_df = healthcare_count_df[healthcare_count_df[0].str.len() > 4]

# sales

sales_set = sales_df.stack().str.split("[^\w+]").explode().tolist()
sales_count_df = pd.DataFrame(healthcare_set)
sales_count_df = sales_count_df[sales_count_df[0].str.len() > 4]

# community service
community_set = sales_df.stack().str.split("[^\w+]").explode().tolist()
community_count_df = pd.DataFrame(community_set)
community_count_df = community_count_df[community_count_df[0].str.len() > 4]

construction_count_df.rename(columns= {0:'word'}, inplace=True)
engineering_count_df.rename(columns= {0:'word'}, inplace=True)
healthcare_count_df.rename(columns= {0:'word'}, inplace=True)
sales_count_df.rename(columns= {0:'word'}, inplace=True)
community_count_df.rename(columns= {0:'word'}, inplace=True)
construction_count_df.reset_index(drop=True)



construction_count_df.head(40)

            word
1          Civil
2        Project
3        Manager
5      Australia
6          Group
10     Australia
13   experienced
14         Civil
15       Project
16       Manager
21         based
23       Canning
27       Canning
29  Construction
30       Project
31    Management
36         Sales
38    Estimating
41    Commercial
42      Flooring
44      Concrete
45         Floor
46      Coatings
50    experience
52       quoting
54       winning
55      flooring
56      projects
62      exciting
63   opportunity
67      Industry
68        Leader
69       Belmont
70  Construction
71    Estimating
76     Assistant
77       Project
78       Manager
79       TotalPM
80     Assistant

In [19]:
# remove words with less than 5 characters

construction_count = construction_count[construction_count['word'].str.len() > 4]
engineering_count = engineering_count[engineering_count['word'].str.len() > 4]
healthcare_medical_count = healthcare_medical_count[healthcare_medical_count['word'].str.len() > 4]
sales_count = sales_count[sales_count['word'].str.len() > 4]
jobs_in_community_services_development_words = jobs_in_community_services_development_count[jobs_in_community_services_development_count['word'].str.len() > 4]

In [20]:
jobs_in_community_services_development_words

            word  count
6          their     15
8        Support     12
13        people     10
15   opportunity      7
17        skills      6
..           ...    ...
422     requires      1
423       Perth!      1
424       highly      1
425        Enjoy      1
426     National      1

[304 rows x 2 columns]

### Count locations to plot

-----

In [21]:
# seek_data_df
# jobs_in_community_services_development_df

In [22]:
# create df for location counts 
# heatmap plot

all_fields_locations = seek_data_df['job_location'].value_counts()
construction_locations = construction_df['job_location'].value_counts()
engineering_locations = engineering_df['job_location'].value_counts()
healthcare_medical_locations = healthcare_medical_df['job_location'].value_counts()
sales_locations = sales_df['job_location'].value_counts()
jobs_in_community_services_development_locations = jobs_in_community_services_development_df['job_location'].value_counts()

all_fields_locations_df = pd.DataFrame(all_fields_locations)
construction_locations_df = pd.DataFrame(construction_locations)
engineering_locations_df = pd.DataFrame(engineering_locations)
healthcare_medical_locations_df = pd.DataFrame(healthcare_medical_locations)
sales_locations_df = pd.DataFrame(sales_locations)
jobs_in_community_services_development_locations = pd.DataFrame(jobs_in_community_services_development_locations)

jobs_in_community_services_development_locations

                job_location
Perth WA                  17
Rockingham                 3
Cloverdale                 2
Kwinana Beach              2
Osborne Park               2
Rivervale                  2
Fremantle                  2
Bayswater                  2
Bentley                    1
Malaga                     1
Midland                    1
Joondalup                  1
Mosman Park                1
Belmont                    1
Wanneroo                   1
Hilton                     1
Success                    1
Singleton                  1
Tuart Hill                 1
Mount Pleasant             1
West Perth                 1
Mirrabooka                 1
Claremont                  1
Balga                      1
Butler                     1

In [23]:
# reset index for tables
all_fields_locations_df.reset_index(inplace=True)
sales_locations_df.reset_index(inplace=True)
construction_locations_df.reset_index(inplace=True)
healthcare_medical_locations_df.reset_index(inplace=True)
engineering_locations_df.reset_index(inplace=True)
jobs_in_community_services_development_locations.reset_index(inplace=True)

In [24]:
# rename columns to be more friendly
all_fields_locations_df.rename(columns= {'index':'job_location', 'job_location':'count'}, inplace=True)
engineering_locations_df.rename(columns= {'index':'job_location', 'job_location':'count'}, inplace=True)
construction_locations_df.rename(columns= {'index':'job_location', 'job_location':'count'}, inplace=True)
healthcare_medical_locations_df.rename(columns= {'index':'job_location', 'job_location':'count'}, inplace=True)
sales_locations_df.rename(columns= {'index':'job_location', 'job_location':'count'}, inplace=True)
jobs_in_community_services_development_locations.rename(columns= {'index':'job_location', 'job_location':'count'}, inplace=True)
engineering_locations_df

                    job_location  count
0                       Perth WA     64
1                      Henderson      7
2                         Malaga      4
3                       Jandakot      4
4                     Bibra Lake      3
5                     West Perth      3
6                      Bayswater      3
7                        Bentley      3
8                      Welshpool      2
9                      Hazelmere      2
10                     Rivervale      2
11                     Cottesloe      2
12                       Kewdale      1
13                       Midland      1
14  Fremantle & Southern Suburbs      1
15                 Perth Airport      1
16                        Butler      1
17                       Belmont      1
18               North Fremantle      1
19                 Garden Island      1
20                  Osborne Park      1
21                     Fremantle      1
22                   Leederville      1

In [25]:
###### DEBUG - REMOVE

# seek_csv_data = seek_count.to_csv('seek_count.csv', index = True)
# print('\nCSV String:\n', seek_csv_data)

------

### Connect to postgres and load data to db

-----

In [26]:
# MOVE TO TOP BEFORE SUBMITTING

#from api_keys import postgres_p
from sqlalchemy import create_engine
from sqlalchemy import inspect

In [27]:
protocol = 'postgresql'
username = 'postgres'
password = '<password>'

host = 'localhost'

port = 5432

database_name = 'jon_seek'

rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)
insp = inspect(engine)

insp.get_table_names()

['job_id',
 'construction_scrapes',
 'construction_location_count',
 'construction_word_count']

In [28]:
jobs_in_community_services_development_df

,job_id,job_title,company_name,short_description,job_location,job_classification,job_subclassification,job_site
440,440,APS5 National Reassessment Officer,National Disability Insurance Scheme,Support the choice & control of people with di...,Midland,Community Services & Development,Aged & Disability Support,Seek.com.au
441,441,APS5 Remote Support & Coordination - Affirmati...,National Disability Insurance Scheme,The National Remote Services Branch responsibi...,Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
442,442,Job Coach - Wanneroo,atWork Australia,We have an exciting opportunity to join our Jo...,Wanneroo,Community Services & Development,Employment Services,Seek.com.au
443,443,Employability Skills Trainer (Perth South),Training Alliance Group,Support job seekers aged 15 and over in Perth ...,Fremantle,Community Services & Development,Employment Services,Seek.com.au
444,444,Employability Skills Trainer (Perth North),Training Alliance Group,Support job seekers aged 15 and over in the Pe...,Mirrabooka,Community Services & Development,Employment Services,Seek.com.au
445,445,Recruiters Seeking A Change,CCIWA,Passionate about assisting young people to sta...,Perth WA,Community Services & Development,Employment Services,Seek.com.au
446,446,Community Support Workers,Vitil,Looking for a rewarding job supporting our eld...,Mount Pleasant,Community Services & Development,Aged & Disability Support,Seek.com.au
447,447,Employer Engagement Partner,genU,Bring your passion for community and assist Jo...,Kwinana Beach,Community Services & Development,Employment Services,Seek.com.au
448,448,Philanthropy & Partnerships Manager,RSPCA WA,Great opportunity for a Philanthropy specialis...,Malaga,Community Services & Development,Fundraising,Seek.com.au
449,449,Safety and Support Officer,Uniting WA,Fantastic opportunity to work in a collaborati...,Perth WA,Community Services & Development,Housing & Homelessness Services,Seek.com.au
450,450,Duty Social Worker - Foster Care- PT - Fterm ...,Wanslea Ltd,Duty Social Worker - Foster Care- Part Time -...,Cloverdale,Community Services & Development,"Child Welfare, Youth & Family Services",Seek.com.au
451,451,Family Support Worker - Foster Care - Cloverdale,Wanslea Ltd,If your passionate about high quality support ...,Cloverdale,Community Services & Development,"Child Welfare, Youth & Family Services",Seek.com.au
452,452,CLIENT ADVISOR,ECHO Community Services,Care Coordinator,Bayswater,Community Services & Development,Aged & Disability Support,Seek.com.au
453,453,Employment Services Consultant,WorkFocus Australia,Join our team in Perth! Our goal is to seamles...,Osborne Park,Community Services & Development,Employment Services,Seek.com.au
454,454,Employment Consultant,genU,Bring your passion for community and assist Jo...,Fremantle,Community Services & Development,Employment Services,Seek.com.au
455,455,Customer Service Officer,genU,Put your administration and customer service s...,Kwinana Beach,Community Services & Development,Employment Services,Seek.com.au
456,456,Employment Consultant,genU,"Bring your passion for community &â¯join a fun,...",Rockingham,Community Services & Development,Employment Services,Seek.com.au
457,457,Support Worker/ Mentor,NaN,Supporting a 15 year old autistic boy.\nFun an...,Balga,Community Services & Development,Aged & Disability Support,Seek.com.au
458,458,Job Coach - Joondalup,atWork Australia,Generate meaningful employment opportunities f...,Joondalup,Community Services & Development,Employment Services,Seek.com.au
459,459,Employment Support Consultant,Maxima Training Group (Aust) Ltd.,Support Customers on the job and liaise with e...,Belmont,Community Services & Development,Employment Services,Seek.com.au
460,460,Disability Mentor/Support Worker,Mighty Mentors,If you like the idea of combining work and lei...,Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
461,461,Disability Support Worker,Workpower Incorporated,As a Community Support Coach no day is ever th...,Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
462,462,Aboriginal Services Coordinator,Henderson Healthcare,"Permanent, full time position available for an...",Perth WA,Community Services & Development,"Child Welfare, Youth & Family Services",Seek.com.au
463,463,Positive Behaviour Practitioner,Henderson Healthcare,We have an opportunity available for a Registe...,Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
464,464,Community Support Worker,Autism Association of WA (Inc),"Supporting individuals in the community, at wo...",Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
465,465,Innovative Employment Advisor - Disability,Valued Lives Foundation,We are expanding and seeking Innovative Employ...,Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
466,466,Security Officer / Ranger (Casual),City of Bayswater,"Security Officer, Ranger, Local Government, Co...",Bayswater,Community Services & Development,Community Development,Seek.com.au
467,467,Support Worker - Butler,Avivo,"Avivo Support Workers work alongside people, f...",Butler,Community Services & Development,Aged & Disability Support,Seek.com.au
468,468,Support Worker - Tuart Hill,Avivo,"Avivo Support Workers work alongside people, f...",Tuart Hill,Community Services & Development,Aged & Disability Support,Seek.com.au
469,469,Support Workers,Aberstone Community Services,Enjoy a meaningful role supporting your local ...,Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
470,470,Home Care Clinical Coordinator,Southern Cross Care (WA) Inc.,Bring your clinical experience in a home care ...,Rivervale,Community Services & Development,Aged & Disability Support,Seek.com.au
471,471,Respite Centre Coordinator,Southern Cross Care (WA) Inc.,Join a rewarding career in Community services ...,Rivervale,Community Services & Development,Management,Seek.com.au
472,472,Disability Support Worker - Mosman Park,Avivo,Avivo Support Workers work alongside people fr...,Mosman Park,Community Services & Development,Aged & Disability Support,Seek.com.au
473,473,Playgroup Support Worker - Boronia,YMCA WA,The Y WA requires a Casual Playgroup Support W...,Bentley,Community Services & Development,"Child Welfare, Youth & Family Services",Seek.com.au
474,474,Assurance and Compliance Officer WA - Pacific ...,Palladium International Pty Ltd -Pacific Labou...,An opportunity to be a part of a positive impa...,Perth WA,Community Services & Development,Employment Services,Seek.com.au
475,475,Support Worker - Perth City,Avivo,"Our Support Workers work alongside people, fro...",Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
476,476,Support worker - Rockingham & Surrounds,Avivo,Love benefits such as a great work life balanc...,Rockingham,Community Services & Development,Aged & Disability Support,Seek.com.au
477,477,Senior Recovery Partner,Southern Cross Care (WA) Inc.,"People who work in aged care are special, and ...",Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
478,478,High care Support Worker - Claremont & Floreat,Avivo,"Avivo supports people with a disability, peopl...",Claremont,Community Services & Development,Aged & Disability Support,Seek.com.au
479,479,Support Worker,Southern Cross Care (WA) Inc.,Join a rewarding career with a flexible workin...,Rockingham,Community Services & Development,Aged & Disability Support,Seek.com.au
480,480,Care Worker,Southern Cross Care (WA) Inc.,Deliver a high standard of person-centered car...,Success,Community Services & Development,Aged & Disability Support,Seek.com.au
481,481,Support Worker - Respite Centre,Southern Cross Care (WA) Inc.,Come help make a difference in our client live...,Hilton,Community Services & Development,Aged & Disability Support,Seek.com.au
482,482,Support Worker,Southern Cross Care (WA) Inc.,Join a rewarding career with a flexible workin...,Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
483,483,ParentsNext - Engagement Officer,Training Alliance Group,Support parents with young children in identif...,Osborne Park,Community Services & Development,Employment Services,Seek.com.au
484,484,Resident Wellbeing Assistant (Aged Care),Singleton Community Aged Care,Signature Care presents an exciting opportunit...,Singleton,Community Services & Development,Aged & Disability Support,Seek.com.au
485,485,Traineeship - Individual Support Person,Programmed Skilled Workforce,Traineeship- CHC33015 Cert III in Individual S...,Perth WA,Community Services & Development,Aged & Disability Support,Seek.com.au
486,486,Council Services Manager (Operational Manager),West Arnhem Regional Council,"Live and work in the amazing West Arnhem Land,...",Perth WA,Community Services & Development,Management,Seek.com.au
487,487,Claims Officer - Employment Services,Training Alliance Group,Review and process Employment Services claims ...,West Perth,Community Services & Development,Employment Services,Seek.com.au
488,488,Business Manager - Earlville,Advanced Personnel Management,Looking for a move? We are looking in Cairns! ...,Perth WA,Community Services & Development,Employment Services,Seek.com.au

In [29]:
# load to database

# Job_ID Table

job_id_df.to_sql(name='job_id', con=engine, if_exists='append', index=False)

## Scraped job Tables

construction_df.to_sql(name='construction_scrapes', con=engine, if_exists='append', index=False)
engineering_df.to_sql(name='engineering_scrapes', con=engine, if_exists='append', index=False)
healthcare_medical_df.to_sql(name='healthcare_scrapes', con=engine, if_exists='append', index=False)
sales_df.to_sql(name='sales_scrapes', con=engine, if_exists='append', index=False)
jobs_in_community_services_development_df.to_sql(name='community_service_scrapes', con=engine, if_exists='append', index=False)

# ## Word Tables

construction_count_df.to_sql(name='construction_words', con=engine, if_exists='append', index=False)
engineering_count_df.to_sql(name='engineering_words', con=engine, if_exists='append', index=False)
healthcare_count_df.to_sql(name='healthcare_words', con=engine, if_exists='append', index=False)
sales_count_df.to_sql(name='sales_words', con=engine, if_exists='append', index=False)
community_count_df.to_sql(name='community_services_words', con=engine, if_exists='append', index=False)

# ## Word counts

# construction_count.to_sql(name='construction_word_count', con=engine, if_exists='append', index=False)
# engineering_count.to_sql(name='engineering_word_count', con=engine, if_exists='append', index=False)
# healthcare_medical_count.to_sql(name='healthcare_word_count', con=engine, if_exists='append', index=False)
# sales_count.to_sql(name='sales_word_count', con=engine, if_exists='append', index=False)
# jobs_in_community_services_development_words.to_sql(name='community_services_word_count', con=engine, if_exists='append', index=False)

# ## Location Tables

all_fields_locations_df.to_sql(name='allfields_location_count', con=engine, if_exists='append', index=False)
engineering_locations_df.to_sql(name='engineering_location_count', con=engine, if_exists='append', index=False)
construction_locations_df.to_sql(name='construction_location_count', con=engine, if_exists='append', index=False)
healthcare_medical_locations_df.to_sql(name='healthcare_location_count', con=engine, if_exists='append', index=False)
sales_locations_df.to_sql(name='sales_location_count', con=engine, if_exists='append', index=False)
jobs_in_community_services_development_locations.to_sql(name='community_services_location_count', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "job_classification" of relation "construction_scrapes" does not exist
LINE 1: ...e, company_name, short_description, job_location, job_classi...
                                                             ^

[SQL: INSERT INTO construction_scrapes (job_id, job_title, company_name, short_description, job_location, job_classification, job_subclassification, job_site) VALUES (%(job_id)s, %(job_title)s, %(company_name)s, %(short_description)s, %(job_location)s, %(job_classification)s, %(job_subclassification)s, %(job_site)s)]
[parameters: ({'job_id': 0, 'job_title': 'Civil Project Manager', 'company_name': 'MACS Australia Group Pty Ltd', 'short_description': 'MACS Australia seek an experienced Civil Project Manager to join our team based in Canning Vale WA.', 'job_location': 'Canning Vale', 'job_classification': 'Construction', 'job_subclassification': 'Project Management', 'job_site': 'Seek.com.au'}, {'job_id': 1, 'job_title': 'Sales and Estimating â Commercial Flooring', 'company_name': 'Hawk Concrete Floor Coatings', 'short_description': 'Do you have experience in quoting and winning flooring projects?  We have an exciting opportunity to join an Industry Leader', 'job_location': 'Belmont', 'job_classification': 'Construction', 'job_subclassification': 'Estimating', 'job_site': 'Seek.com.au'}, {'job_id': 2, 'job_title': 'Assistant Project Manager', 'company_name': 'TotalPM', 'short_description': 'Assistant Project Manager', 'job_location': 'Perth WA', 'job_classification': 'Construction', 'job_subclassification': 'Project Management', 'job_site': 'Seek.com.au'}, {'job_id': 3, 'job_title': 'Multiplex Graduate & Cadet Program 2023/2024 - WA', 'company_name': 'Multiplex Constructions', 'short_description': 'Join the Multiplex Graduate and Cadet program - exciting opportunities within the Construction industry with multiple career pathways!', 'job_location': 'Perth WA', 'job_classification': 'Construction', 'job_subclassification': 'Other', 'job_site': 'Seek.com.au'}, {'job_id': 4, 'job_title': 'Junior Contract Administrator', 'company_name': 'Marble', 'short_description': 'Commercial Developer/Builder Focusing on D&C Industrial Projects up to $20m | New & Growing Business | Opportunity for Career Mentoring & Advancement', 'job_location': 'Northern Suburbs & Joondalup', 'job_classification': 'Construction', 'job_subclassification': 'Contracts Management', 'job_site': 'Seek.com.au'}, {'job_id': 5, 'job_title': 'Residential Building Estimator/Scheduler', 'company_name': None, 'short_description': 'Building Estimator: An opportunity exists for an Estimator/Scheduler to join a custom residential builder on full time or permanent part time basis', 'job_location': 'Rivervale', 'job_classification': 'Construction', 'job_subclassification': 'Estimating', 'job_site': 'Seek.com.au'}, {'job_id': 6, 'job_title': 'Client Side Project Manager', 'company_name': 'TotalPM', 'short_description': 'Client Side Project Manager', 'job_location': 'Perth WA', 'job_classification': 'Construction', 'job_subclassification': 'Project Management', 'job_site': 'Seek.com.au'}, {'job_id': 7, 'job_title': 'Construction Site Supervisor / Site Manager - Southern Suburbs', 'company_name': 'Summit Homes Group', 'short_description': 'Construction Supervisor/Site Manager: very competitive salary package on offer, manageable volume of projects and leading trade rates and incentives', 'job_location': 'Perth WA', 'job_classification': 'Construction', 'job_subclassification': 'Foreperson/Supervisors', 'job_site': 'Seek.com.au'}  ... displaying 10 of 110 total bound parameter sets ...  {'job_id': 108, 'job_title': 'Contracts Administrator', 'company_name': 'CPB Contractors WA, SA & NT', 'short_description': 'Be a part of something bigger. Permanent role on Metronet based in Butler.', 'job_location': 'Butler', 'job_classification': 'Construction', 'job_subclassification': 'Contracts Management', 'job_site': 'Seek.com.au'}, {'job_id': 109, 'job_title': 'Building Supervisor', 'company_name': 'Addstyle Constructions Pty Ltd', 'short_description': "Perth's most awarded home renovation and extension builder is seeking an experience Building Supervisor to join it's multi-awarded team.", 'job_location': 'Balcatta', 'job_classification': 'Construction', 'job_subclassification': 'Foreperson/Supervisors', 'job_site': 'Seek.com.au'})]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
pd.read_sql_query('select * from Engineering_Words', con=engine).head(15)

In [ ]:
pd.read_sql_query('select * from construction_location_count', con=engine).head(15)

In [ ]:
# location_list = []

In [ ]:
# # Create location df for coordinates

# location_list_list = seek_data_df['job_location'].unique().tolist() 

# location_list = pd.DataFrame(seek_data_df['job_location'].unique())

In [ ]:

# location_list.columns = ['job_location']
# location_list

In [ ]:

# for address in location_list:
#     params = {
#          "key" : gmaps_key,
#          "address": address
#     }
#     base_url = "https://maps.googleapis.com/maps/api/geocode/json?"
#     response = requests.get(base_url, params = params).json()
#     response.keys()
#     if response ["status"] == "OK":
#          geometry = response["results"][0]["geometry"]
#          latitude = geometry["location"]["lat"]
#          longitude = geometry["location"]["lng"]
#          location.iloc[[1]] = longitude
#          print(geometry)

In [ ]:
# temp = ''

# location_list['lon'] = temp
# location_list['lat'] = temp

In [ ]:
print(response)

In [ ]:
location_list